.case {
  &__first-image {
    position: relative;
    overflow: hidden;
  }
  &__first-image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100vw;

    & img {
      opacity: 0;
    }
  }

  &__title {
    &-block {
      margin: $block-margin 0;
      max-width: $content-max-width;
    }

    &-sections {
      margin-bottom: $block-margin;
    }
  }

  &__content {
    margin-bottom: responsive-value(96px, 192px);
  }
}
