.uk-offcanvas-close {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    & svg {
      opacity: 0.6;
    }
  }

  & svg {
    width: 50%;
    height: 50%;
    fill: $color-black;
    transition: opacity var(--transition);
  }
}

.uk-offcanvas-bar {
  padding: 70px percent-view(70px) percent-view(95px) percent-view(65px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);

  width: 100vw;
  // min-width: 375px;
  left: -100vw;

  @media (min-width: $breakpoint-small) {
    width: $offcanvas-bar-width-m;
  }
  @media (min-width: $breakpoint-medium) {
    width: $offcanvas-bar-width-m;
    padding: percent-view(99px) percent-view(70px) percent-view(95px);
  }
  @media (min-width: $breakpoint-large) {
    width: $offcanvas-bar-width;
  }

  .uk-offcanvas-flip & {
    right: -100vw;

    @media (min-width: $breakpoint-small) {
      right: -$offcanvas-bar-width-m;
    }
    @media (min-width: $breakpoint-medium) {
      right: -$offcanvas-bar-width-m;
    }
    @media (min-width: $breakpoint-large) {
      right: -$offcanvas-bar-width;
    }
  }
}

.offcanvas {
}
