.team {
  @include block;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  margin-bottom: responsive-value(60px, 120px);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: $grid-gap;
  grid-template-rows: auto;

  &-digital {
    @include block;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: $grid-gap;
    grid-template-rows: auto;

    &__sections {
      display: flex;
      flex-wrap: wrap;
      gap: responsive-value(8px, 16px);
      margin-bottom: responsive-value(71px, 142px);

      grid-column: 1 / -1;

      &-item {
        flex: 1 0 40%;
        white-space: nowrap;

        @media (min-width: $breakpoint-medium) {
          flex: 0 0 auto;
        }
      }
    }

    &__content {
      margin-bottom: responsive-value(45px, 91px);
      grid-column: 1 / -1;
      @include font-h1;

      @media (min-width: $breakpoint-medium) {
        grid-column: 3 / -1;
      }
    }
    &__bottom {
      grid-column: 1 / -1;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $grid-gap-small;
    grid-column: 1 / -1;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 4 / -1;
    }
  }

  &__member {
    background: $color-gray-2;
    padding: $block-padding;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;

    &-photo {
      $team-photo-size: 90%;
      position: relative;
      width: $team-photo-size;
      padding-bottom: $team-photo-size;
      height: 0;
      align-self: end;

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 0;
        top: 0;
      }
    }

    &-name {
      @include font-h3;
      margin-bottom: responsive-value(6px, 12px);
    }
    &-desc {
      color: $color-gray;
      margin-bottom: responsive-value(-2px, -4px);
    }
  }
}
