.container 
  section.feedback#feedback
    .feedback__top
      .feedback__dummy
      .feedback__title Есть задача?
        br
        | — есть решение
    .feedback__grid 
      .feedback__left 

      .feedback__right 
        form(action="").form
          +form-row({name: "form-phone", title: "Телефон", validate: 'phone', inputmask: "'mask': '+7 999 999 99 99', 'placeholder': ' '", placeholder: ' '})
          .form__row.form__row-input.input-sizer.stacked
            textarea.form__textarea.validate--empty(placeholder=' ' name='form-message' oninput='this.parentNode.dataset.value = this.value')
            .form__note
            label.form__label(for='form-message') Напишите все что вы думаете, по делу
            .form__file
              span#custom-text.form__file-name Приложите файл
              input#real-file(type='file' hidden='hidden')
              button#custom-button.form__file-button(type='button')
                +svg({name: 'file'})

          //- +form-row({name: "form-message", title: "Напишите все что вы думаете, по делу", validate: 'phone', placeholder: ' ', textarea: true})

          .feedback__out 
            a(href="").feedback__out-link
              | скачать бриф
              +svg({name:'download'})
          .form__row.form__submit
            button(type="submit").form__submit-button.button отправить заявку
            .form__submit-note 
              | Нажимая на кнопку, вы даете согласие на обработку 
              a(href="") персональных данных 
              |  и соглашаетесь с 
              a(href="") политикой конфиденциальности

  footer.footer
    .footer__grid
      .footer__top 
        a(href="mailto:privet@enteragency.ru" target="_blank").footer__top-link privet@enteragency.ru
        a(href="" target="_blank").footer__top-link telegram
        a(href="" target="_blank").footer__top-link whatsapp
      .footer__phones 
        a(href="tel:+74992130214") +7 499 213 02 14
        a(href="tel:+78312302990") +7 831 230 29 90
      .footer__logo
        +svg({name:'enter_logo', viewbox: '0 0 202 75'})
      .footer__copyright 
        | © Enter Agency 2021, 
        br
        | Нижний Новгород, ул.&nbsp;Грузинская 37А
      .footer__social 
        a(href="").footer__social-link facebook
        a(href="").footer__social-link vk
        a(href="").footer__social-link instagram
        a(href="").footer__social-link behance