extends ../layout/main

block variables
  - var title = 'Enter';
  - var description = 'Description';
  - var pageClass = 'page--index';

block content
  .container
    section.header.header--case
      +header-bg()
      .header__top
        .header__logo
          a(href="index.html").header__logo-link.header__logo-link--full
            img(src="assets/logo-full.svg", alt="EnterAgency")
        +burger()

  section.case