extends ../layout/main

block variables
  - var title = 'Enter';
  - var description = 'Description';
  - var pageClass = 'page--index';

block content
  .container
    section.header.header--case
      +header-bg()
      .header__top
        +header-logo({class: 'header__logo-link--full', logo: 'logo-full.svg'})
        +burger()

  section.case